@import "bootstrap/bootstrap";

@import "modules/colors";

@import "partials/navbar";
html{
	height:100%;
}
.first-class{
	max-width:100%;
	padding: 1em 0;
	background: $marine-blue;
	color:white;
	font-size: 20px;
	font-family: montserrat;

}
.first-column{
	height:100%;
}
.pt-6{
	padding-top: 4rem !important;
}
.pt-7{
	padding-top: 3rem !important;
}
.sam{
	padding: 3em;
}
.testimonials{
	z-index:3;
	max-width:100%;
	padding: 3em 0;
	background: $marine-blue;
	color:white;
}
.take-away{
	background-size: 19% 100%;
    background-repeat: no-repeat;
    background-position: 77%;
    background-image: linear-gradient(210deg, #fde428, #fde428);
	max-width:100%;
	padding: 5em 0;

}
a{
	text-decoration: none;
	
	&:hover{
	text-decoration: none;
	color:white;
	}
}
.icon1{
	padding-left: 100%;
}
.icon2{
	padding-left:85%;
}
.navbar{
	padding: 1.3rem 0rem 0.5rem 0rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 228, 40, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
.navbar-toggler{
	border-color: #fde428 !important;
}
body{
	font-family: montserrat;
	height: 100%;
	overflow-x: hide;
}
.map-text{
	padding-left: 7%;
}
.carousel-indicators{
	z-index:4;
	position:relative;
}
.carousel-slide{
	position:absolute;
	bottom:5%;
}
.next-prev{
	padding: 10px;
	position:relative;
	font-size: 15px;
	color: $sun-yellow;
	border: none;
	z-index:10;
	text-underline: none;
}
.mini{
	font-size:12px;
}
.ellipse{
	width:90%;
	height:100%;
	text-align: right;
}
.new{
	color: $marine-blue;
}
.head-quarter{
	font-family:montserrat;
	font-size:17px;
	color: $marine-blue;
}
.rapid{
	width: 80%;
	font-size: 16px;
}
.rapid1{
	width:50%;
	margin: 0 auto 3em auto;
	font-size: 16px;
}
.name{
	color: $sun-yellow;
	font-size: 20px;
}
.blue-title{
	font-family: montserrat;
	font-size:25px;
	width: 75%;
	color: $marine-blue;
}
.blue-title1{
	font-family: montserrat;
	font-size:25px;
	width: 100%;
	color: $marine-blue;
}
.integer-blandit{
	font-size: 12px;
	width:90%;
}
.blue-tour{
	color: $marine-blue;
	padding-bottom: 5px;
	border-bottom: 2px solid $marine-blue;
	font-family: montserrat;
}
.white{
	color: $white-two;
}
.btn-language{
	background: transparent;
}
.language{
	width:20px;
	margin-right: 10px;
}
.dropdown-toggle::after{
	border-top: 0.3em solid $white-two !important;
	margin-right: 10%;
}
.nav-white{
	color: white;
	font-size: 14px;
	padding-right: 20px;
	padding-top:15%;
}
.slide{
	height:100%;
}
.absolute{
	position:absolute;
}
.carousel-inner{
	height:100%;
}
.carousel-item{
	height: 100%;
}
.header{
	max-width:100%;
	height:100%;
	color: $sun-yellow;
	background: $marine-blue;
	background-size: 80% 100%;
}


.logo{
	right: 11%;
	bottom: 25%;
	width:55vh;
	height:45vh;
	z-index:5;
	position: absolute;
}
.blush{
		background-image: url('../images/audit-and-assurance.png');
		background-size: cover;
		background-position: center;
}
.pale-olive-green{
		background-image: url('../images/bonds-and-commodities.png');
		background-size: cover;
		background-position: center;
}
.tiffany-blue{
		background-image: url('../images/turnaround-conscluting.png');
		background-size: cover;
		background-position: center;
}
.div-color{
	height:200px;
	width:100%;
}
.turn-around{
	font-family:montserrat;
	font-size:17px;
	color: $marine-blue;
}
.double-quotes{
	padding: 0.5em 0;
	font-size:45px;
	font-family: montserrat;
}
.video{
	width:100%;
	height:100%;
}
.maps{
	width:100%;
	height:150%;
}
.quotes{
	text-align:center;
	width: 65%;
	margin: 0 auto;
}

$yellow: $sun-yellow 100% 100%;

.constructing{
	z-index:3;
	max-width:100%;
	padding:5em 0;
	background: $white;
}

.button{
	font-size:16px;
	color: $marine-blue;
	float:right;
	background: $sun-yellow;	

	&:hover{
	color: $sun-yellow;
	background: $marine-blue;
	border: 2px solid $sun-yellow;
	-webkit-transition-duration: 0.5s;
	}
}

.learn-more{
	text-align: right;
	padding-bottom: 3px;
	border-bottom: 2px solid $sun-yellow;
}
.view-lg{
	padding-top: 1.5em;
	font-size: 40px;
	font-family: montserrat;
}
.popular{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.popular-service{
	max-width:100%;
	padding:5em 0;
	background: $white-two;

}
.viewer{
	max-width:100%;
	padding-bottom: 4em;
	background: $marine-blue;
	color:white;
	text-align: center;

}
.conscluting-office{
	max-width:100%;
	padding: 4em 0;
	background-size: 19% 100%;
    background-repeat: no-repeat;
    background-position: 25%;
    background-image: linear-gradient(210deg, #fde428, #fde428);

}

.contact{
	max-width:100%;
	padding: 4em 0;
	background: $white-two;
}
.contact-us{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.footer{
	font-size:14px;
	max-width:100%;
	padding: 1em 0;
	background: $marine-blue;
	color:white;

}
.symu{
	color: $sun-yellow;
}
.icon{
	padding-right:15px;
	float: right;
}
.w-100{
	z-index:1;
	height:100%;
}
.center{
		padding-right:20%;
	}
.center1{
		padding-left:6%;
	}
@media screen and (min-width: 351px) and (max-width:400px) {
	.logo{
	right: 5%;
	bottom: 20%;
	width:50vh;
	height:40vh;
	z-index:5;
	position: absolute;
	}	
	.take-away{
		padding:3em 0;
		background: $white-two;
	}
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:150px;
		width:330px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		margin-top: 0.5em;
		float: left;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
		margin: 0 auto 3em auto;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:401px) and (max-width:450px) {
	.logo{
	right: 10%;
	bottom: 20%;
	z-index:5;
	position: absolute;
}
	.take-away{
		padding:3em 0;
		background: $white-two;
	}
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:180px;
		width:360px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:451px) and (max-width:500px) {
	.take-away{
		padding:3em 0;
		background: $white-two;
	}
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:240px;
		width:480px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:501px) and (max-width:550px) {
	.contact-us{
		padding-left:0px !important;
	}
	.take-away{
		background: $white-two;
	}
	.video1{
		height:240px;
		width:480px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:300px) and (max-width:320px) {
	.logo{
	right: 5%;
	bottom: 15%;
	width:45vh;
	height:35vh;
	z-index:5;
	position: absolute;
	}
	.take-away{
		padding:3em 0;
		background: $white-two;
	}
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:150px;
		width:300px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:321px) and (max-width:350px) {

	.logo{
	right: 5%;
	bottom: 20%;
	width:50vh;
	height:40vh;
	z-index:5;
	position: absolute;
}	
	.take-away{
		padding:3em 0;
		background: $white-two;
	}
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:150px;
		width:300px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:551px) and (max-width:575px) {
	.contact-us{
		padding-left:0px !important;
	}
	.take-away{
		background: $white-two;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;

	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: left;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:576px) and (max-width:600px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:601px) and (max-width:650px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:651px) and (max-width:700px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:701px) and (max-width:750px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:751px) and (max-width:767px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:270px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:768px) and (max-width:800px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:330px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:801px) and (max-width:850px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:330px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:851px) and (max-width:900px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:330px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:901px) and (max-width:950px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:330px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:951px) and (max-width:991px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:330px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:992px) and (max-width:1050px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:420px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:1051px) and (max-width:1100px) {
.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:420px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:1101px) and (max-width:1150px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:420px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}
@media screen and (min-width:1151px) and (max-width:1199px) {
	.contact-us{
		padding-left:0px !important;
	}
	.video1{
		height:420px;
		width:560px;
	}
	.take-away{
		background: $white-two;
	}
	.blue-title{
	width: 100%;
	}
	.card{
		margin-bottom: 2em;
	}
	.button{
		float: left;
		margin-top: 0.5em;
	}
	.video{
		width:100%;
		height: 100%;
	}
	.icon{
		padding-top:5px;
		float: right;
	}
	.view-lg{
		padding-top:1em;
	}
	.contact{
		padding: 3em 0 1em 0;
	}
	.constructing{
		padding: 3em 0;
	}
	.conscluting-office{
		padding: 3em 0;
		background: $white-two;
	}
	.popular{
		width:100%;
	}
	.center{
		padding-left: 0%;
	}
	.center1{
		padding-left: 0%;
		padding-right: 15%;
	}
	.viewer{
		padding-bottom:2em;
	}
	.quotes{
		width: 90%;
	}
	.rapid{
		width:100%;
		padding-right: 15%;
	}
	.rapid1{
		width:100%;
	}
	.popular-service{
		padding:3em 0 1em 0;
	}
	.we-best{
		padding-top: 2em;
	}
}

